body {
  font-family: 'UnifrakturCook', cursive;
  background-color:black;
  color:white;
  margin: 0;
}

header {
  background-color: lightgray;
  color: darkgray;
  padding: 20px;
  text-align: center;
}

.project {
  background-color: black;
  margin: 10px;
  padding: 10px;
}


